@model RealBlog.Models.User
@using RealBlog.Models;
@{
    ViewBag.Title = "Index";
}

<h2>Профиль</h2>

@if (Model.Id == Convert.ToInt32(Session["UserId"]))
{

    <div class="panel panel-info my-panel">
        <div class="panel-heading">
            Редактирование профиля
        </div>
        <div class="panel-body">

            @using (Html.BeginForm("UpdateProfile", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
            <form>
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.Email)
                <div class="form-group">

                    @Html.LabelFor(model => model.Nickname)

                    @Html.EditorFor(model => model.Nickname, new { htmlAttributes = new { @class = "form-control", title = "От 3 до 20 символов" } })
                    @Html.ValidationMessageFor(model => model.Nickname, "", new { @class = "text-danger" })


                </div>

                <div class="form-group">

                    @Html.LabelFor(model => model.Password)

                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "Password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">

                    @Html.LabelFor(model => model.PasswordConfirm)

                    @Html.EditorFor(model => model.PasswordConfirm, new { htmlAttributes = new { @class = "form-control", type = "Password" } })
                    @Html.ValidationMessageFor(model => model.PasswordConfirm, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">

                    @Html.LabelFor(model => model.FirstName)

                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })


                </div>

                <div class="form-group">

                    @Html.LabelFor(model => model.LastName)

                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })


                </div>

                <div class="form-group">

                    @Html.LabelFor(model => model.Photourl)



                    @Html.ValidationMessageFor(model => model.Photourl)
                    <input name="imageData" type="file" accept="image/x-png,image/gif,image/jpeg" />
                    @Html.ValidationMessageFor(model => model.Photourl, "", new { @class = "text-danger" })
                </div>

                @if (Model.Photourl != null)
                {
                    <img class="avatar" src="@Url.Content(Model.Photourl)" width="150" height="150" ) />
                }

                <div class="form-group">
                    @Html.LabelFor(model => model.ContactInfo)

                    @Html.TextAreaFor(model => model.ContactInfo, 4, 100, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ContactInfo, "", new { @class = "text-danger" })
                    <br /><br /><br />
                </div>
                <br />

                <div class="form-group">
                    @Html.LabelFor(model => model.BikeSpecifications)
                    @Html.TextAreaFor(model => model.BikeSpecifications, 4, 100, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BikeSpecifications, "", new { @class = "text-danger" })
                    <br /><br /><br />

                </div>
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.Hobbies)

                    @Html.TextAreaFor(model => model.Hobbies, 4, 100, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Hobbies, "", new { @class = "text-danger" })
                    <br /><br /><br />
                </div>


                <br /> <br />

                <div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>

                <button type="submit" class="btn button-grey btn-block ">Сохранить</button>


            </form>

            }


        </div>
    </div>
   
        Html.RenderPartial("ProfilePost", new Post());
    

}
else
{
    <div class="panel panel-info my-panel">
        <div class="panel-body">
            <div class="left-part width=150">
                <a href="@Url.Action("Index", "Profile", new { id = Session["UserId"] }, null)" />
                @if (Model.Photourl != null)
                {
                    <img width=150 src="@Url.Content(Model.Photourl)" />
                }
            </div>

        </div>

        <div class="right-part width=350">
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.FirstName)
                        @Model.FirstName
                    </td>

                    <td>
                        @Html.LabelFor(model => model.LastName)
                        @Model.LastName
                    </td>

                </tr>

                <tr colspan="2">
                    <td>
                        @Html.LabelFor(model => model.ContactInfo)
                        @Model.ContactInfo
                    </td>
                </tr>

                <tr colspan="2">
                    <td>
                        @Html.LabelFor(model => model.BikeSpecifications)
                        @Model.BikeSpecifications
                    </td>
                </tr>

                <tr colspan="2">
                    <td>
                        @Html.LabelFor(model => model.Hobbies)
                        @Model.Hobbies
                    </td>
                </tr>

            </table>



        </div>
    </div>

}





@foreach (var post in ViewBag.Posts)
{
    @PostHelper(post)
}

@helper PostHelper(Post post)
{
    <div class="panel panel-info my-panel">
        <div class="panel-heading">
            <a href="@Url.Action("Index", "Profile", new { id = post.Author.Id}, null)">
                @if (post.Author.Photourl != null)
                {
                    <img class="avatar" src="@Url.Content(post.Author.Photourl)" height="20" />
                }
                @post.Author.Nickname
            </a>
            @post.Data.ToString("dd.MM.yyyy в HH:mm")
        </div>
        <div class="panel-body">
            <p>@post.Text</p>
            @if (post.Photourl != null)
            {
                <div>
                    <img class="postimage" src="@post.Photourl" />
                </div>
            }
        </div>
    </div>
}







@*  else
    {
        <div class="panel panel-info wide-panel">
            <div class="panel-body">
                <div class="left-part width=150">

                    <a href="@Url.Action("Index", "Profile", new { id= Model.Id }, null)"/>

                       @if(Model.PhotoUrl != null)
                       {
                           <img width=150 scr="@Url.Content(Model.PhotoUrl)"/>
                       }


                </div>


                <div class="right-part width=350">
                    <table>

                        <tr>
                            <td>
                                @Html.LabelFor(model => model.FirstName)
                                @Model.FirstName
                            </td>

                            <td>
                                @Html.LabelFor(model => model.LastName)
                                @Model.LastName
                            </td>

                        </tr>

                        <tr colspan="2">
                            <td>
                                @Html.LabelFor(model => model.ContactInfo)
                                @Model.ContactInfo
                            </td>
                        </tr>

                        <tr colspan="2">
                            <td>
                                @Html.LabelFor(model => model.BikeSpecification)
                                @Model.BikeSpecification
                            </td>
                        </tr>

                        <tr colspan="2">
                            <td>
                                @Html.LabelFor(model => model.Hobbies)
                                @Model.Hobbies
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    }
*@ 