@model RealBlog.Models.Post
@using RealBlog.Models;
@{
    ViewBag.Title = "Лента новостей";
}

<h2>Лента новостей</h2>

@if (Session["UserNick"] != null)
{
    <div class="panel panel-info tiny-panel">
        <div class="panel-heading">
            Добавление новой записи
        </div>
        <div class="panel-body">



            @using (Html.BeginForm("AddPost", "Feed", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <form>
                    <div class="form-group">

                        @Html.LabelFor(model => model.Text)

                        @Html.TextAreaFor(model => model.Text, 10, 100, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })


                    </div>
                    <div class="form-group">



                        @Html.LabelFor(model => model.Photourl)


                        @Html.ValidationMessageFor(model => model.Photourl)
                        <input name="imageData" type="file" accept="image/x-png,image/gif,image/jpeg" />
                        @Html.ValidationMessageFor(model => model.Photourl, "", new { @class = "text-danger" })
                    </div>





                    <div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>

                    <button type="submit" class="btn button-grey btn-block ">Добавить</button>

                </form>

            }


        </div>


    </div>



}


@foreach (var post in ViewBag.Posts)
{

    @PostHelper(post);
}



@helper PostHelper(Post post)
{
    <div class="panel panel-info my-panel">
        <div class="panel-heading">
            <a href="@Url.Action("Index", "Profile", new { id = post.Author.Id}, null)">
                @if (post.Author.Photourl != null)
                {
                    <img class="avatar" src="@Url.Content(post.Author.Photourl)" height="20" />
                }
                @post.Author.Nickname
            </a>
            @post.Data.ToString("dd.MM.yyyy в HH:mm")
        </div>
        <div class="panel-body">
            <p>@post.Text</p>
            @if (post.Photourl != null)
            {
                <div>
                    <img class="postimage" src="@post.Photourl" />
                </div>
            }
        </div>
    </div>
}


